body{
margin:0;
font-family:Arial;
background:#0f172a;
color:#fff;
text-align:center;
}

header{
background:#002776;
padding:15px;
font-weight:bold;
}

.banner{
background:linear-gradient(135deg,#009C3B,#FFDF00);
color:#000;
margin:15px;
padding:15px;
border-radius:12px;
}

.card{
background:#1e293b;
margin:15px;
padding:15px;
border-radius:12px;
}

.btn{
display:block;
margin:10px 15px;
padding:12px;
background:#D4AF37;
color:#000;
text-decoration:none;
border-radius:10px;
font-weight:bold;
}
